<div class="comment clearfix">
    <div class="comment_content">
        <p class="comment_name"><strong><%= comment.name %></strong></p>
        <p class="comment_body"><%= comment.body%></p>
        <p class="comment_title"><%= time_ago_in_words(comment.created_at)%></p>
    </div>
    <% if user_signed_in? %>
        <p><%= link_to "Borrar Comentario", [comment.post, comment], method: :delete, class: "button", data: {confirm: "Estas Seguro?"} %></p>
    <% end %>
</div>