<%= form_for([@post, @post.comments.build]) do |f| %>
    <p>
        <%= f.label :name%><br>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :body%><br>
        <%= f.text_field :body %>
    </p>

    <p>
        <%= f.submit%>
    </p>

<% end %>