<div id="header">
    <% if current_page?(root_path) %>
        <p>Post Feed</p>
    <% elsif current_page?(about_path) %>
        <p>Mi Sitio</p>
    <% else %>
        <%= link_to "Volver A Post Feed", root_path %>
    <% end %>
    <% if user_signed_in? %>
        <div class="buttons">
            <button class="button"><%= link_to "Crear Post", new_post_path%></button>
            <button class="button"><%= link_to "Desloguearse", destroy_user_session_path, :method => :delete %></button>
        </div>
    <% end %>
</div>