<ul>
    <li class="category"><%= link_to "Tumblr", root_path %></li>
    <li><%= link_to "Posts", root_path %></li>
    <li><%= link_to "Sobre", about_path %> </li>
</ul>
    <% if !user_signed_in? %>
        <p class="sign_in"><%= link_to "Iniciar Sesion", new_user_session_path %></p>
    <% end %>
    
