<%= form_for @post do |f| %>
        <% if @post.errors.any? %>
            <div id="errors">
                <h2><%= pluralize(@post.errors.count, "error")%> Post No Puede Ser Guardado</h2>
                <ul>
                    <% @post.errors.full_messages.each do |msg|%>
                    <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>

        <% end %>
        <p>
            <%= f.label "Titulo:" %>
            <%= f.text_field :title %>
        
        </p>
            <%= f.label "Cuerpo:" %>
            <%= f.text_area :body %>

        <p>
        
        </p>
            
            <%= f.submit %>

        <p>
        
        </p>
    <% end %>