<div id="post_content">
    <h1 class="title">
        <%= @post.title %>
    </h1>

    <p class="date">
        Enviado <%= time_ago_in_words(@post.created_at) %> |
        <% if user_signed_in? %>
            <%= link_to "Editar", edit_post_path(@post)%> |
            <%= link_to "Eliminar", post_path(@post), method: :delete, data: {confirm: "Estas Seguro" }%>
        <% end %>

    </p>

    <p class="body">
        <%= @post.body %>
    </p>

    <div id="comments">
        <h2><%= @post.comments.count %> Comentarios</h2>
        <%= render @post.comments %>
        <h3>Comentar: </h3>
        <%= render "comments/form" %>
    </div>
</div>