<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet'%>
  </head>

  <body>
    <div id="sidebar">
      <%= render "partials/sidebar"%>
    </div>

    <div id="main_content">
      <%= render "partials/header"%>
      <%= render "partials/notificaciones"%>
      <%= yield %>
    </div>
    
    
  </body>
</html>
